<div class="container text-center mt-5">
  <h1 class="mb-4">Simple Interest Calculator</h1>

<div class="card">
    <div class="card-body text-center">
      <h5 class="card-title text-center">Calculate return on interest</h5>
      <h5>A = P(1 + rt)</h5>

      <hr />

      <div class="input-group mb-3">
        <span class="input-group-text" id="loan-amt">$</span>
        <input 
        type="text" 
        class="form-control" 
        placeholder="Loan Amount (P)" >
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="interest">%</span>
        <input 
        type="text" 
        class="form-control" 
        placeholder="Interest (R)" >
      </div>
      <div class="input-group mb-3">
        <input 
        type="text" 
        class="form-control" 
        placeholder="Years to repay (t)" 
>
      </div>
    </div>
  
    <div class="d-grid gap-2">
          <button 
          class="btn btn-dark" 
          type="button">
          Calculate</button>

        </div>
        
  </div>

